.App {
  text-align: center;
}

body * {
  font-family: "Montserrat" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.doctorsList {
  list-style-type: none;
  padding: 0;
}

.doctorsList li {
  padding: 10px 15px;
  margin: 10px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 #0002;
  text-transform: capitalize;
  transition: 0.2s ease;
}

.doctorsList li:hover {
  cursor: pointer;
  transform: scale(0.96);
  box-shadow: 0 0 15px 1px #0002;
  text-transform: capitalize;
}

.doctor-popup {
  z-index: 1000;
}

.doctor-popup * {
  margin: 0;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-enter {
  animation: fadeInUp 0.3s ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.inputContainer>.errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.mainBox {
  width: 900px;
  display: flex;
  flex-direction: row;
  column-gap: 0;
  box-shadow: 0 0 25px 0 #27272730;
  border-radius: 25px;
  overflow: hidden;

}

.mainBox>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.mainBox>div.rightHalf {
  padding: 50px;
  box-sizing: border-box;
  background-color: #e4eaee;
}

.mainBox>div.leftHalf {
  background: url('https://images.squarespace-cdn.com/content/v1/58b7487fe58c62846e27aaee/1620723889244-0M6WBI1K4NHDV6FG4IMX/seedling2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
}


.mainBox>div.leftHalf::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #02435580;
  mix-blend-mode: multiply;

}

.inputButton {
  height: 48px;
  width: 400px;
  background: #024355;
  color: #fff;
  border-radius: 8px;
}

.titleContainer div {
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 800;
  color: #363636;
}

.inputContainer {
  width: 85%;
}

.inputContainer input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-size: 14px;
  color: #4c4c4c;
  padding-left: 15px;
  font-family: 'Montserrat';
}

.inputContainer input.inputButton {
  background-color: teal;
  color: #fff;
  font-weight: 700;
  padding: 0;
  transition: 0.3s ease;
  font-family: 'Montserrat';
}


.inputContainer input.inputButton:hover {
  background-color: rgb(2, 87, 87);
  color: #fff;
  font-weight: 700;
  padding: 0;
  cursor: pointer;
}

div>a {
  font-size: 13px;
  color: #4c4c4c;
  text-decoration: underline;
}

.logoContainer {
  margin: 25px;
  max-width: 150px;
  max-height: 150px;
}

.logoContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sliding-tips>div {
  padding: 5px 0px;
  margin-bottom: 25px;

  border-radius: 15px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}


.sliding-tips>div>span {

  font-family: 'Playfair Display' !important;
  font-size: 1.7em;
  font-weight: 500;
  color: #373737;
  font-style: italic;
  text-align: left;
  margin-bottom: 25px;

}



.upcoming>div>span {

  font-family: 'Lora';
  font-size: 1.2vw;

}

.upcoming>div {
  padding: 15px;
  margin: 0;
  border: 1px solid #e7e7e7;
  background-color: rgba(12, 163, 12, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  text-align: left;
}

.upcoming div {
  height: 100% !important;
}

.lms-post-title {}

.lms-post-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0 !important;
}

.lms-post:hover button,
.lms-post:hover .lms-post-desc,
.lms-post:hover .lms-post-title {
  transform: scale(1.02);
}

.lms-post:hover {
  transform: scale(0.97);
}

.lms-post * {
  transition: 0.2s ease;
  ;
}


.scroll-style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.scroll-style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-style-3::-webkit-scrollbar-thumb {
  background-color: #2C554B;
}